@font-face {
  font-display: swap;
  font-family: "Amiko";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/amiko-v12-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/almarai-v12-arabic-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/almarai-v12-arabic-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/almarai-v12-arabic-800.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  font-family: "Almarai", normal;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  color: #3a3a3a;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "Amiko", normal;
  font-weight: 700;
  color: #1a1a1a;
  line-height: 1.1;
  letter-spacing: -0.1rem;
}
h1 {
  font-size: 48px;
  margin-bottom: 12px;
}
h3 {
  font-size: 32px;
  margin-bottom: 8px;
}
h5 {
  font-size: 14px;
  margin-bottom: 16px;
}
h2 {
  font-size: 40px;
  margin-bottom: 12px;
}
p {
  margin-top: 0;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 88px;
}
/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 154px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
}
.menu-button-container {
  display: flex;
  align-items: center;
  gap: 48px;
}
.logo-element {
  width: 18px;
  height: 10px;
  fill: #563acc;
}
.logo-text {
  font-size: 24px;
  color: #1a1a1a;
  font-weight: 700;
}
.header-menu {
  display: flex;
  gap: 48px;
}
.header-button {
  color: black;
  font-size: 18px;
  font-weight: 700;
  width: 160px;
  height: 48px;
  background-color: #d8c6ff;
  border: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

/* simplify-trasactions */
.simplify-trasactions-p {
  margin-bottom: 40px;
}
.accent-text {
  background: linear-gradient(180deg, #6364ff 64.58%, #563acc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.simplify-trasactions-button {
  color: black;
  font-size: 18px;
  font-weight: 700;
  width: 160px;
  height: 48px;
  background-color: #d8c6ff;
  border: none;
  border-radius: 24px;
  margin-bottom: 148px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.img-container img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

/* recognition */
.recognition {
  background-color: #e5dbfb;
  width: 100%;
  height: 155px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 112px;
}
.recognition-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.recognition-text {
  max-width: 300px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  display: flex;
  align-items: center;
}

.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(250px * 12);
}

.slide {
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cross-border */
.cross-border-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin-bottom: 124px;
}
.intro-container {
  margin-bottom: 88px;
}
.phone-area {
  width: 618px;
  min-height: 493px;
  background-color: rgba(234, 231, 255, 0.7);
  border-radius: 24px;
  padding: 48px;
}
.phone-area-img {
  margin-bottom: 40px;
}
.cross-border-main-container-list {
  padding-left: 20px;
}
.cross-border-main-container-item {
  margin-bottom: 15px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
}
.list-x-element {
  width: 16px;
  height: 16px;
  fill: #c0c0c0;
}
.opacity-01 {
  opacity: 0.1;
}
.opacity-02 {
  opacity: 0.2;
}
.opacity-04 {
  opacity: 0.4;
}
.opacity-07 {
  opacity: 0.7;
}
.cross-border-main-container-accent-item {
  margin-bottom: 15px;
  padding-left: 4px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 282px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid rgba(148, 148, 148, 0.5);
  background-color: #f7f3f3;
}
.accent-list-x-element {
  width: 20px;
  height: 20px;
  fill: #f20c0c;
}
.vs-text {
  font-size: 18px;
  font-weight: 800;
}
.cross-border-vs-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 494px;
}
.cross-border-vs-container::after,
.cross-border-vs-container::before {
  position: absolute;
  width: 1px;
  height: 225px;
  background-color: rgba(148, 148, 148, 0.5);
  content: "";
}
.cross-border-vs-container::before {
  top: 0;
}
.cross-border-vs-container::after {
  bottom: 0;
}
